html {
    /* overflow-y: hidden; */
}

body {
    font-family: "Poppins", sans-serif, "Arial";
    color: #053b7a !important;
}

h1.home-header{
    color: darkred;
    text-align: center;
}
ul.home-header-list {
    text-align: left;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
li.home-header-list-item {
    text-align: left;
}
.padding-15 {
    padding: 15px;
}