<template>
  <v-card>
    <v-tabs v-model="tab"
            centered
            dark>

      <v-tab href="#tab-1">
        Stack Exchange
      </v-tab>

      <v-tab href="#tab-2">
        Weather/Geo Location
      </v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab">
      <v-tab-item :key="1"
                  :value="'tab-1'">
        <v-card flat>
          <h1 class="home-header">Search Stack Exchange</h1><br>
          <v-row justify="center">
            <v-col cols="12" sm="6" md="4">
              <span>Click Button to search the first 100 questions that have answers with a count of > 1</span>
              <v-btn @click="getStackExchange()" block rounded="sm" size="x-large" color="primary">Get Stack Exchange Data</v-btn>
            </v-col>
          </v-row>

          <v-row justify="center" v-if="questionWrapper && questionWrapper.length > 0" style="height: 90vh">
            <v-col cols="12" sm="12" md="12" style="overflow: auto">
              <v-simple-table dense>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th class="text-center">
                        Show Answers
                      </th>
                      <th class="text-left">
                        Title
                      </th>
                      <th class="text-left">
                        Link
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in questionWrapper"
                        :key="item.questionId">
                      <td><v-btn @click="showAnswers(item.questionId)" block rounded="sm" color="primary">Answers</v-btn></td>
                      <td>{{ item.title }}</td>
                      <td>{{ item.link }}</td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-col>
          </v-row>
        </v-card>

        <v-dialog v-model="showModal"
                  width="1400">
          <v-card>
            <v-card-title class="text-h5 grey lighten-2">
              Answers (Click on correct answer)
            </v-card-title>
            <v-row justify="center">
              <v-col cols="12" sm="6" md="12">
                <v-table class="padding-15">
                  <template>
                    <thead>
                      <tr>
                        <th>
                          Correct
                        </th>
                        <th class="text-left padding-15">
                          Title
                        </th>
                        <th class="text-left padding-15">
                          Answer
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="item in answers"
                          :key="item.answerId">
                        <td class="padding-15"><v-checkbox label="Correct" @click="checkAnswer(item)"></v-checkbox></td>
                        <td class="padding-15">{{ item.title }}</td>
                        <td class="padding-15"><span v-html="item.body"></span></td>
                      </tr>
                    </tbody>
                  </template>
                </v-table>
              </v-col>
            </v-row>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn style="max-width: 100px; min-width: 100px; width: 100px;" color="primary" @click="showModal = false">Close</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-tab-item>

      <v-tab-item :key="2"
                  :value="'tab-2'">
        <v-card flat>
          <h1 class="home-header">Test Application</h1><br>
          <ul class="home-header-list">
            <li>
              <h2 class="home-header-list-item">Get Local Weather by zipcode</h2>
            </li>
            <li>
              <h2 class="home-header-list-item">Get Geo Location</h2>
            </li>
            <li>
              <h2 class="home-header-list-item">Get individually or all together</h2>
            </li>
          </ul>
          <v-row justify="center">
            <v-col cols="12" sm="6" md="4">
              <v-text-field label="Zip Code" @click:clear="onClear" prepend-inner-icon="mdi-map-marker" clearable type="number" v-model="zipCode"></v-text-field>
              <span>Enter zipcode and find your local weather</span>
              <v-btn :disabled="!zipCode" @click="getLocalWeather()" block rounded="sm" size="x-large" color="primary">Get Local Weather</v-btn>
            </v-col>
          </v-row>

          <v-row justify="center">
            <v-col cols="12" sm="6" md="4">
              <span>Find your Geo location, Country, State and IP address</span>
              <v-btn @click="getGeoLocation()" block rounded="sm" size="x-large" color="primary">Get Geo Location</v-btn>
            </v-col>
          </v-row>

          <v-row justify="center">
            <v-col cols="12" sm="6" md="4">
              <span>Get your local weather and your Geo location, Country, State and IP address</span>
              <v-btn :disabled="!zipCode" @click="getData()" block rounded="sm" size="x-large" color="primary">Get Data</v-btn>
            </v-col>
          </v-row>

          <v-row justify="center">
            <v-col cols="12" sm="6" md="4">
              <span>Get your local weather and your Geo location, Country, State and IP address in parallel on the server</span>
              <v-btn :disabled="!zipCode" @click="getDataParallel()" block rounded="sm" size="x-large" color="primary">Get Data Parallel</v-btn>
            </v-col>
          </v-row>

          <v-row justify="center" v-if="localWeatherData">
            <v-col cols="12" sm="6" md="4">
              <v-card class="mx-auto"
                      max-width="600"
                      variant="outlined">
                <v-card-item>
                  <div>
                    <div class="text-overline mb-1">
                      Local Weather today
                    </div>
                    <div class="text-h6 mb-1">
                      {{localWeatherData.description}}
                    </div>
                    <div class="text-caption">Latitude: {{ localWeatherData.latitude }}</div>
                    <div class="text-caption">Longitude: {{ localWeatherData.longitude }}</div>
                  </div>
                </v-card-item>
              </v-card>
            </v-col>
          </v-row>

          <v-row justify="center" v-if="geoLocationData">
            <v-col cols="12" sm="6" md="4">
              <v-card class="mx-auto"
                      max-width="600"
                      variant="outlined">
                <v-card-item>
                  <div>
                    <div class="text-overline mb-1">
                      Geo Location
                    </div>
                    <div class="text-h6 mb-1">
                      {{geoLocationData.description}}
                    </div>
                    <div class="text-caption">Country: {{ geoLocationData.location.country }}</div>
                    <div class="text-caption">Region: {{ geoLocationData.location.region }}</div>
                    <div class="text-caption">IP: {{ geoLocationData.ip }}</div>
                  </div>
                </v-card-item>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
      </v-tab-item>
    </v-tabs-items>
  </v-card>
</template>

<script src="./home.ts"></script>
